.card{
    width: 10rem;
    height: 10rem;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 10rem;
    text-align: center;
    background: rgba(255,255,255,0.26);
    border: 7px solid var(--orangeCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
    /* padding: 1rem 26px 2rem 26px; */
}

.card >img{
    height: 80%;
    width: 100%;
    transform: scale(0.6);
    margin-bottom: -2rem;
    /* border: 1px solid red; */
}