.n-wrapper{
    height:10vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: auto;
    overflow: hidden;
    background-color: var(--blueCard);
    
    /* border: 1px solid red; */
    /* width: 100%; */
}

.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}


.n-right{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

.n-list{
    flex: 10;

}

.n-list>ul{
    display: flex;
    gap:2rem;
    margin-right: 4rem;
    cursor: pointer;
}

/* .n-list>ul>li:hover{
cursor: pointer;
color: var(--orange);
} */
li:hover{
    color: var(--orange);

}
.n-button{
    flex: 2;
}
.n-list li {
    width: 5rem;
}


@media screen and (max-width:480px) {
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}