.footer {
  display: flex;
  align-items: center;
 
  position: relative;

}

.f-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 4rem;
  gap: 0.5rem;
  color: white;
  /* border: 3px solid red; */
}

.f-icons {
  display: flex;
  gap: 2rem;
}

@media all and (max-width: 1250px) {
  .footer {
    display: flex;
    align-items: center;
    /* margin: -0.5rem -3.5rem; */
    position: relative;
    margin-top: 0rem;
  }
  .f-content {
    gap: 0.5rem;
    height: 100px;
  }

  .f-icons {
    margin-bottom: 2rem;
  }
  /* .footer>img{
        display: none;
    }
     */
  .f-content > * {
    /* border: 2px solid green; */
    font-size: 13px;
  }
  .git {
    height: 30px;
    width: 30px;
  }
}
