.work{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-top: 8rem;
}

.w-right{
    position: relative;
    margin-top: 2rem;
}

.w-mainCircle{
    left: 1rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    top: 2rem;
    background: white;

}

.w-mainCircle>*{
position: absolute;
}

.w-mainCircle>:nth-child(1)
{
    top: -3rem;
    left: 6rem;
}
.w-mainCircle>:nth-child(2)
{
    top: 6rem;
    left: -3rem;
}
.w-mainCircle>:nth-child(5)
{
    top: 6rem;
    left: 5rem;
}
.w-mainCircle>:nth-child(4)
{
    top: 15rem;
    left: 5rem;
}
.w-mainCircle>:nth-child(3)
{
    top: 6rem;
    left: 13rem;
}

.w-secCircle{


    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    background:"none";
    box-shadow: var(--smboxShadow);
    background: white;
}

.w-image{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.w-secCircle{
    transform: scale(0.9);
}
.w-right2{
    position: relative;
    margin-top: 2rem;
}

.w-mainCircle1{
    left: 8rem;
    position: relative;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    top: 2rem;
    background: white;

}


.w-mainCircle1>*{
    position: absolute;
    }


    .w-secCircle2{


        width: 6rem;
        height: 6rem;
        position: absolute;
        border-radius: 100%;
        border: 5px solid #ebebeb;
        display: flex;
        align-items: center;
        justify-content: center;
        background:"none";
    box-shadow: var(--smboxShadow);
    background: white;
    }
    .w-secCircle2{
        transform: scale(0.9);
    }

    .w-image1{
        height: 6rem;
        width: 6rem;
        border-radius: 100%;
    }


    .w-mainCircle1>:nth-child(1)
{
    top: -3rem;
    left: 6rem;
}
.w-mainCircle1>:nth-child(2)
{
    top: 6rem;
    left: -3rem;
}
.w-mainCircle1>:nth-child(5)
{
    top: 6rem;
    left: 5rem;
}
.w-mainCircle1>:nth-child(4)
{
    top: 15rem;
    left: 5rem;
}
.w-mainCircle1>:nth-child(3)
{
    top: 6rem;
    left: 13rem;
}

@media screen and (max-width:480px){
    .works{
        flex-direction: column;
        height: 55rem;
        padding: 0;
        gap: 5rem;
    }
    .w-right{
        display: flex;
        align-items: flex-start;
        justify-content: start;
        transform: scale(0.7);
    }
    .w-mainCircle{
        position: static;
    }
     /* .awesome{
       margin-left: -14.5rem;
        margin-top: 25rem;
    }  */
    .work{
        margin-top: -15rem;
        display: grid;
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-width:480px){
 
.w-right2{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
}
.w-mainCircle2{
    position: static;
}
.w-right2{
    margin-left: -6rem;
}
}